<%- include('partials/head', { title: 'Sobre Nosotros' }) %>

<%- include('partials/header') %>
<main class="container">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur natus est quae vero a
    veniam quidem quos temporibus. Magnam saepe explicabo quibusdam ullam dignissimos numquam dolorem quas
    recusandae cupiditate sint.
</main>
<%- include('partials/footer') %>