<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liteflix - Inicio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <header id="header">
        <div id="logo-container">
            <img id="logo" src="/img/logo.png" alt="Logo Liteflix">
        </div>
        <nav id="nav">
            <div id="btn-menu">
                <span class="material-symbols-outlined">
                    menu
                </span>
            </div>
            <div id="search-bar">
                <span class="material-symbols-outlined">
                    search
                </span>
            </div>
            <ul id="menu">
                <li>
                    <a href="">Inicio</a>
                </li>
                <li>
                    <a href="">Tendencias</a>
                </li>
                <li>
                    <a href="">
                        <span class="hidde-md material-symbols-outlined">
                            notifications
                        </span>
                        <span class="hidde-lg">Notificaciones</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="hidde-md material-symbols-outlined">
                            person
                        </span>
                        <span class="hidde-lg">Cuenta</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main id="main">
        <div id="banner">
            
        </div>
    </main>

    <footer id="footer"></footer>
</body>

</html>