<%- include('partials/head', { title: 'Inicio' , styles: ['home'] }) %>

<%- include('partials/header') %>

<main id="home-container">
    <div id="banner">

    </div>
</main>

<%- include('partials/footer') %>