<%- include('../partials/head', { title: 'Pelicula', styles: ['movieDetail'] }) %>

<%- include('../partials/header') %>

<main id="movie-container">
    
</main>

<%- include('../partials/footer') %>