<header id="header">
    <div id="logo-container">
        <img id="logo" src="/img/logo.png" alt="Logo Liteflix">
    </div>
    <nav id="nav">
        <div id="btn-menu">
            <span class="material-symbols-outlined">
                menu
            </span>
        </div>
        <div id="search-bar">
            <span class="material-symbols-outlined">
                search
            </span>
        </div>
        <ul id="menu">
            <li>
                <a href="">Inicio</a>
            </li>
            <li>
                <a href="">Tendencias</a>
            </li>
            <li>
                <a href="">
                    <span class="hidde-md material-symbols-outlined">
                        notifications
                    </span>
                    <span class="hidde-lg">Notificaciones</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="hidde-md material-symbols-outlined">
                        person
                    </span>
                    <span class="hidde-lg">Cuenta</span>
                </a>
            </li>
        </ul>
    </nav>
</header>