<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LifeFlix</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>

    <main>
      <h1>Las mejores reservas de peliculas</h1>
      <div class="container">
        <div>
          <h3>Nombre de la pelicula</h3>
          <img src="" alt="La portada" />
          <p>Description</p>
        </div>
      </div>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
