<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liteflix - Inicio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div class="container">
        <header class="header">
            <section class="logo-container">
                <img src="/img/logo.png" alt="Liteflix Logo">
            </section>
            <nav class="nav">
                <div class="search">
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </div>
                <ul class="menu">
                    <li>Inicio</li>
                    <li>Tendencias</li>
                </ul>
                <div>
                    <span class="material-symbols-outlined">
                        notifications
                    </span>
                </div>
                <div>
                    <span class="material-symbols-outlined">
                        person
                    </span>
                </div>
            </nav>
        </header>

        <main class="main home-container">

        </main>

        <footer class="footer"></footer>
    </div>
</body>

</html>