<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- Crear una pagina de about -->
    <header class="header">Header About</header>
    <main class="container">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur natus est quae vero a veniam quidem quos temporibus. Magnam saepe explicabo quibusdam ullam dignissimos numquam dolorem quas recusandae cupiditate sint.</main>
    <footer class="footer">Footer About</footer>
</body>
</html>