<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="header">Header</header>
    <main class="container">
        <img src="/img/francotirador.jpg" alt="">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum quidem molestiae sunt asperiores. Veniam, eum
        animi repellat deleniti exercitationem impedit sint dolores facilis, est itaque architecto quae voluptatem et
        facere.
    </main>
    <footer class="footer">Footer</footer>
    <script src="/js/main.js"></script>
</body>

</html>