* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.dark {
    background-color: #816d6d;
}

.dark 

.header {
    background-color: yellow;
}

.header-dark {
    background-color: #666262;
    color: #fff;
}

.big-box {
    height: 50px;
}

footer {
    background-color: blue;
    color: #fff;
    font-size: 24px;
}